<!-- <div>
    <nb-select [(selected)]="value.size" (selectedChange)="change()">
        <nb-option *ngFor="let size of sizes" [value]="size.name">{{size.name}}</nb-option>
    </nb-select>
</div> -->

<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" >
    <button class="btn btn-outline-light mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">{{value.size}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual" *ngIf="sizes.length > 0">
      <button ngbDropdownItem *ngFor="let size of sizes" (click)="change(size.name)">{{size.name}}</button>
    </div>
  </div>
