<div class="card-row">
  <div class="card-col">
    <nb-card>
      <nb-card-header>
        <h2>Processing Order
          <button nbButton (click)="openAddNew(addOrderDialog, 1)">
            <nb-icon icon="plus-outline" status="danger" style="color: white"></nb-icon>
            Add new
          </button>
          <button nbButton status="warning" style="margin-left: 5px"
            (click)="toMerge(mergealert, timemergealert, chooseInfo)">Merge
            Order
          </button>
        </h2>

        <!-- Success Dialog -->
        <ng-template #success>
          <nb-card>
            <nb-card-body class="example-last-child-no-b-margin">
              <nb-alert status="success">
                Successfully
              </nb-alert>
            </nb-card-body>
          </nb-card>
        </ng-template>

        <!-- Success Dialog -->
        <ng-template #noitemorder>
          <nb-card>
            <nb-card-body class="example-last-child-no-b-margin">
              <nb-alert status="danger">
                You Cannot Finish Order With No Items
              </nb-alert>
            </nb-card-body>
          </nb-card>
        </ng-template>

        <!-- Merge Alert Dialog -->
        <ng-template #mergealert>
          <nb-card>
            <nb-card-body class="example-last-child-no-b-margin">
              <nb-alert status="danger">
                You Can Only Merge a Minium of 2 Orders
              </nb-alert>
            </nb-card-body>
          </nb-card>
        </ng-template>

        <!--Time Merge Alert Dialog -->
        <ng-template #timemergealert>
          <nb-card>
            <nb-card-body class="example-last-child-no-b-margin">
              <nb-alert status="danger">
                You Can Only Merge Same-Day Orders
              </nb-alert>
            </nb-card-body>
          </nb-card>
        </ng-template>

        <!-- Done Dialog -->
        <ng-template #doneDialog let-data let-ref="dialogRef">
          <nb-card>
            <nb-card-header>Payment Order</nb-card-header>
            <nb-card-body>
              <h5>Do you want to make a payment for order"?</h5>
            </nb-card-body>
            <nb-card-footer>
              <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel</button>
              <button (click)="payOrder(success, noitemorder);ref.close()" nbButton>Accept</button>
            </nb-card-footer>
          </nb-card>
        </ng-template>

        <!-- Cancel Dialog -->
        <ng-template #cancelDialog let-data let-ref="dialogRef">
          <nb-card>
            <nb-card-header>Cancel Order</nb-card-header>
            <nb-card-body>
              <h5>Do you want to cancel this order"?</h5>
            </nb-card-body>
            <nb-card-footer>
              <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel</button>
              <button (click)="cancelOrder();ref.close()" nbButton>Delete</button>
            </nb-card-footer>
          </nb-card>
        </ng-template>


        <ng-template #addOrderDialog let-data let-ref="dialogRef">
          <nb-card size="giant" style="width: 500px">
            <nb-card-header>New Order</nb-card-header>
            <nb-card-body>
              <div class="jumbotron">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 offset-md-2">
                      <form name="form" (ngSubmit)="f.form.valid && onSubmit(success)" #f="ngForm" novalidate>
                        <div class="form-group">
                          <label for="firstName">Customer Name</label>
                          <input type="text" id="firstName" class="form-control" name="firstName"
                            [(ngModel)]="newOrder.name" #firstName="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                          <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                            <div *ngIf="firstName.errors.required">Customer Name is Required</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="newOrder.email"
                            #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required
                            email />
                          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="phoneNumber">Phone Number</label>
                          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                            [(ngModel)]="newOrder.phoneNumber" #phoneNumber="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" required
                            pattern="[0-9]+" />
                          <div *ngIf="f.submitted && phoneNumber.invalid" class="invalid-feedback">
                            <div *ngIf="phoneNumber.errors.required">Phone Number is required</div>
                            <div *ngIf="phoneNumber.errors.pattern">phoneNumber must be a valid</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="address">Address</label>
                          <input type="text" class="form-control" id="address" name="address"
                            [(ngModel)]="newOrder.address" #address="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required />
                          <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                            <div *ngIf="address.errors.required">Address is required</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <pre class="text-danger">{{  errors | json }}</pre>
                          <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel
                          </button>
                          <button nbButton type="submit" status="success">Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--        <form novalidate #form="ngForm" (ngSubmit)="onSubmit()">-->
              <!--          <h6 for="firstName">First Name</h6>-->
              <!--          <input #firstName="ngModel" type="text" nbInput fullWidth class="form-control" id="firstName"-->
              <!--                 [(ngModel)]="account.firstName" name="firstName"-->
              <!--                 style="margin-bottom: 1rem" required>-->
              <!--          <div class="text-danger" *ngIf="firstName.errors?.required && firstName.touched">-->
              <!--            First Name is required-->
              <!--          </div>-->
              <!--          <h6 for="lastName">Last Name</h6>-->
              <!--          <input #lastName="ngModel" type="text" nbInput fullWidth class="form-control" id="lastName"-->
              <!--                 [(ngModel)]="account.lastName"-->
              <!--                 name="lastName" style="margin-bottom: 1rem" required>-->
              <!--          <div class="text-danger" *ngIf="lastName.errors?.required && lastName.touched">-->
              <!--            Last name is required-->
              <!--          </div>-->
              <!--          <h6 for="email">Email</h6>-->
              <!--          <input type="email"  #email="ngModel" nbInput fullWidth class="form-control"-->
              <!--                 id="email"-->
              <!--                 [(ngModel)]="account.email"-->
              <!--                 name="email" style="margin-bottom: 1rem" required>-->
              <!--          <div class="text-danger" *ngIf="email.errors?.required && email.touched">-->
              <!--            Email is required-->
              <!--          </div>-->
              <!--          <div class="text-danger" *ngIf="email.errors?.email && email.touched">-->
              <!--            Email is invalid-->
              <!--          </div>-->
              <!--          <h6 for="phoneNumber">Phone Number</h6>-->
              <!--          <input #phoneNumber="ngModel" type="phoneNumber" nbInput fullWidth class="form-control" id="phoneNumber"-->
              <!--                 [(ngModel)]="account.phoneNumber"-->
              <!--                 name="phoneNumber" style="margin-bottom: 1rem" required>-->
              <!--          <div class="text-danger" *ngIf="phoneNumber.errors?.required && phoneNumber.touched">-->
              <!--            Phone Number is required-->
              <!--          </div>-->
              <!--          <div class="text-danger" *ngIf="phoneNumber.errors?.phoneNumber && phoneNumber.touched">-->
              <!--            Phone Number is invalid-->
              <!--          </div>-->
              <!--          <h6 for="username">Username</h6>-->
              <!--          <input #userName="ngModel" type="text" nbInput fullWidth class="form-control" id="username"-->
              <!--                 [(ngModel)]="account.username" minlength="8"-->
              <!--                 name="username" style="margin-bottom: 1rem" required>-->
              <!--          <div class="text-danger" *ngIf="userName.errors?.required && userName.touched">-->
              <!--            Username is required-->
              <!--          </div>-->
              <!--          <div *ngIf="userName.errors?.minlength && userName.touched" class="text-danger">-->
              <!--            Minimum of 2 characters-->
              <!--          </div>-->
              <!--          <h6 for="address">Address</h6>-->
              <!--          <input type="text" #address="ngModel" nbInput fullWidth class="form-control" id="address"-->
              <!--                 [(ngModel)]="account.address"-->
              <!--                 name="address" style="margin-bottom: 1rem" required>-->
              <!--          <div class="text-danger" *ngIf="address.errors?.required && address.touched">-->
              <!--            Address is required-->
              <!--          </div>-->
              <!--          <pre class="text-danger">{{  errors | json }}</pre>-->
              <!--          <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel</button>-->
              <!--          <button nbButton type="submit" [disabled]="form.invalid" status="success">Save</button>-->
              <!--        </form>-->
            </nb-card-body>
            <nb-card-footer>
            </nb-card-footer>
          </nb-card>
        </ng-template>
        <!-- Add Order Dialog -->
        <!--        <ng-template #addOrderDialog let-data let-ref="dialogRef">-->
        <!--          <nb-card>-->
        <!--            <nb-card-header>Add An Order</nb-card-header>-->
        <!--            <nb-card-body>-->
        <!--              <h6 for="name">Customer Name</h6>-->
        <!--              <input type="text" nbInput fullWidth class="form-control" id="name" [(ngModel)]="newOrder.name"-->
        <!--                     name="name"-->
        <!--                     style="margin-bottom: 1rem" required>-->
        <!--              <h6 for="phoneNumber">Phone Number</h6>-->
        <!--              <input type="text" nbInput fullWidth class="form-control" id="phoneNumber"-->
        <!--                     [(ngModel)]="newOrder.phoneNumber"-->
        <!--                     name="phoneNumber"-->
        <!--                     style="margin-bottom: 1rem" required>-->
        <!--              <h6 for="email">Email</h6>-->
        <!--              <input type="text" nbInput fullWidth class="form-control" id="email" [(ngModel)]="newOrder.email"-->
        <!--                     name="email"-->
        <!--                     style="margin-bottom: 1rem" required>-->
        <!--              <h6 for="address">Address</h6>-->
        <!--              <input type="text" nbInput fullWidth class="form-control" id="address" [(ngModel)]="newOrder.address"-->
        <!--                     name="address"-->
        <!--                     style="margin-bottom: 1rem" required>-->
        <!--            </nb-card-body>-->
        <!--            <nb-card-footer>-->
        <!--              <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel</button>-->
        <!--              <button (click)="addNewOrder();ref.close()" nbButton>Save</button>-->
        <!--            </nb-card-footer>-->
        <!--          </nb-card>-->
        <!--        </ng-template>-->
        <!-- Add new template -->
        <ng-template #addNewItemDialog let-data let-ref="dialogRef">
          <nb-card style="width: 800px;">
            <nb-card-header>Add New Item</nb-card-header>
            <nb-card-body>
              <!--              <input type="text" nbInput fullWidth class="form-control" id="name" name="name"-->
              <!--                     [(ngModel)]="newItem.name" style="margin-bottom: 1rem" required>-->
              <div class="form-inline md-form form-sm active-pink-2">
                <input class="form-control form-control-sm mr-3 w-75" placeholder="Search Product" aria-label="Search"
                  type="search" [(ngModel)]="searchText" mdbInput (keydown.enter)="search($event.target.value)">
                <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
              </div>
              <br />
              <!--              <ul *ngFor="let user of usersArray | filter: searchText">-->
              <!--                <li>{{user.name}}</li>-->
              <!--              </ul>-->
              <ng2-smart-table [settings]="productSettings" [source]="productSource"
                (userRowSelect)="chooseNewProduct($event)">
              </ng2-smart-table>
            </nb-card-body>
            <nb-card-footer>
              <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel
              </button>
              <button (click)="addNewOrderItem(productToAdd);ref.close()" nbButton type="submit" status="success">Add
              </button>
            </nb-card-footer>
          </nb-card>
        </ng-template>
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="orderSettings" [source]="source" (userRowSelect)="onUserRowSelect($event)">
        </ng2-smart-table>
        <!--        <h1>{{demo}}</h1>-->
      </nb-card-body>
    </nb-card>
  </div>
  <div class="card-col2" *ngIf="choosenOrder">
    <nb-card>
      <nb-card-header>
        <h2>
          <button [disabled]="choosenOrder.method === 'Pay by Paypal'" nbButton style="margin-bottom: 1rem" (click)="openAddNew(addNewItemDialog, 2)">
            <nb-icon icon="plus-outline" status="danger" style="color: white"></nb-icon>
          </button>
          <button [disabled]="choosenOrder.method === 'Pay by Paypal'" nbButton style="margin-left: 1rem; margin-bottom: 1rem" (click)="saveOrder(success)">
            <nb-icon icon="save-outline" status="danger" style="color: white"></nb-icon>
          </button>
          {{choosenOrder?.name}}
        </h2>
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table [settings]="orderDetailSettings" [source]="detailSource">
        </ng2-smart-table>
        <!--        <h1>{{demo}}</h1>-->
        <h1 style="float: right" *ngIf="choosenOrder">
          Total: {{caculateTotal() | currency:'VND':'symbol':'1.2-2'}}
        </h1>
      </nb-card-body>

      <nb-card-footer>
        <button style="float: right; " nbButton (click)="openAddNew(doneDialog, 3)">
          <nb-icon icon="person-done-outline" status="primary" style="color: white;"></nb-icon>
          Done
        </button>
        <button style="float: right; margin-right: 0.5rem" nbButton (click)="openAddNew(cancelDialog, 3)"
          status="danger">
          <nb-icon icon="close-outline" status="warning" style="color: white;"></nb-icon>
          Cancel Order
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>


<!-- Choose information template -->
<ng-template #chooseInfo let-data let-ref="dialogRef">
  <nb-card style="width: 800px;">
    <nb-card-header>Pick Information for Your Merge Order</nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="chooseInfoSettings" [source]="infoSource"
        (userRowSelect)="onChooseInfo($event, confirm);">
      </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- Confirm Dialog -->
<ng-template #confirm let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Confirm Merge Order</nb-card-header>
    <nb-card-body>
      <h5>Do you want to merge 2 orders with information:</h5>
      <h6>{{choosenInfo.name}}</h6>
      <h6>{{choosenInfo.email}}</h6>
      <h6>{{choosenInfo.phoneNumber}}</h6>
      <h6>{{choosenInfo.address}}</h6>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel</button>
      <button (click)="mergeOrder(success);ref.close()" nbButton>Accept</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
