<!-- IMAGE DIALOG -->
<ng-template #imageDialog let-data let-ref="dialogRef">
  <nb-card [size]="'large'">
    <!-- <nb-card-header>{{value.name}}</nb-card-header> -->
    <nb-card-body>
      <!-- Photo section -->
      <h6>Image</h6>
      <button (click)="imgInput.click()" style="margin-bottom: 1rem" nbButton
              [disabled]="imgUploader.getNotUploadedItems().length || !(accessChecker.isGranted('edit','Product') | async)"
      >Upload
      </button>
      <input style="visibility: hidden; width: 0px; height:0px;" type="file" #imgInput ng2FileSelect
             [uploader]="imgUploader" multiple accept="image/*"/>
      <button type="button" style="margin-left: 1rem; margin-bottom: 1rem" nbButton (click)="uploadImage()"
              [disabled]="!imgUploader.getNotUploadedItems().length" [nbSpinner]="imgLoading">
        <nb-icon icon="upload-outline" style="color: white"></nb-icon>
        {{ imgUploader?.queue?.length }} file(s)
      </button>
      <button type="button" style="margin-left: 1rem; margin-bottom: 1rem" nbButton status="danger"
              (click)="imgUploader.clearQueue();" [disabled]="!imgUploader.getNotUploadedItems().length">
        <nb-icon icon="trash-2-outline" style="color: white"></nb-icon>
      </button>
      <nb-list>
        <nb-list-item *ngIf="!images.length" style="color: red">
          No file uploaded!
        </nb-list-item>
        <nb-list-item *ngFor="let image of images">
          <nb-actions size="small">
            <nb-action> {{ image.name }} </nb-action>
            <nb-action icon="eye-outline" [nbPopover]="template" nbPopoverPlacement="right"></nb-action>
            <nb-action *ngIf="(accessChecker.isGranted('edit','Product') | async)" icon="trash-2-outline"
                       (click)="deleteImage(image, 'img')"></nb-action>
            <ng-template #template let-data>
              <nb-card style="margin: 0">
                <nb-card-body>
                  <img src="{{image.url}}" width="300px">
                </nb-card-body>
              </nb-card>
            </ng-template>
          </nb-actions>
        </nb-list-item>
      </nb-list>

      <!-- Glb section -->
      <h6>Preview Object</h6>
      <button (click)="glbInput.click()" style="margin-bottom: 1rem" nbButton
              [disabled]="(glbUploader.getNotUploadedItems().length) || (!(accessChecker.isGranted('edit','Product') | async))"
      >Upload
      </button>
      <input style="visibility: hidden; width: 0px; height:0px;" type="file" #glbInput ng2FileSelect
             [uploader]="glbUploader" accept=".glb"/>
      <button type="button" style="margin-left: 1rem; margin-bottom: 1rem" nbButton
              (click)="glbUploader.uploadAll()" [disabled]="!glbUploader.getNotUploadedItems().length"
              [nbSpinner]="glbLoading">
        <nb-icon icon="upload-outline" style="color: white"></nb-icon>
        {{ glbUploader?.queue?.length }} file(s)
      </button>
      <button type="button" style="margin-left: 1rem; margin-bottom: 1rem" nbButton status="danger"
              (click)="glbUploader.clearQueue();" [disabled]="!glbUploader.getNotUploadedItems().length">
        <nb-icon icon="trash-2-outline" style="color: white"></nb-icon>
      </button>
      <nb-list>
        <nb-list-item>
          <span *ngIf="!previewObj" style="color: red">No file uploaded!</span>
          <nb-actions size="small" *ngIf="previewObj">
            <nb-action> {{ previewObj.name }} </nb-action>
            <nb-action *ngIf="(accessChecker.isGranted('edit','Product') | async)" icon="trash-2-outline"
                       (click)="deleteImage(previewObj, 'glb')"></nb-action>
          </nb-actions>
        </nb-list-item>
      </nb-list>

      <!-- Sfb section -->
      <h6>Ar Object</h6>
      <button (click)="sfbInput.click()" style="margin-bottom: 1rem" nbButton
              [disabled]="sfbUploader.getNotUploadedItems().length || !(accessChecker.isGranted('edit','Product') | async)"
      >Upload
      </button>
      <input style="visibility: hidden; width: 0px; height:0px;" type="file" #sfbInput ng2FileSelect
             [uploader]="sfbUploader" accept=".sfb"/>
      <button type="button" style="margin-left: 1rem; margin-bottom: 1rem" nbButton
              (click)="sfbUploader.uploadAll()" [disabled]="!sfbUploader.getNotUploadedItems().length"
              [nbSpinner]="sfbLoading">
        <nb-icon icon="upload-outline" style="color: white"></nb-icon>
        {{ sfbUploader?.queue?.length }} file(s)
      </button>
      <button type="button" style="margin-left: 1rem; margin-bottom: 1rem" nbButton status="danger"
              (click)="sfbUploader.clearQueue();" [disabled]="!sfbUploader.getNotUploadedItems().length">
        <nb-icon icon="trash-2-outline" style="color: white"></nb-icon>
      </button>
      <nb-list>
        <nb-list-item>
          <span *ngIf="!arObj" style="color: red">No file uploaded!</span>
          <nb-actions size="small" *ngIf="arObj">
            <nb-action> {{ arObj.name }} </nb-action>
            <nb-action *ngIf="(accessChecker.isGranted('edit','Product') | async)" icon="trash-2-outline"
                       (click)="deleteImage(arObj, 'sfb')"></nb-action>
          </nb-actions>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="ref.close()" nbButton status="danger">Close Dialog</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- Edit Dialog -->
<!--<ng-template #editDialog let-data let-ref="dialogRef">-->
<!--  <nb-card [size]="'large'" style="width: 500px">-->
<!--    <nb-card-header>Edit product</nb-card-header>-->
<!--    <nb-card-body>-->
<!--      <h6 for="name">Name</h6>-->
<!--      <input type="text" nbInput fullWidth class="form-control" id="name" [(ngModel)]="product.name" name="name"-->
<!--             style="margin-bottom: 1rem" required>-->

<!--      <h6 for="price">Price</h6>-->
<!--      <input type="number" nbInput fullWidth class="form-control" id="price" [(ngModel)]="product.price"-->
<!--             name="price" style="margin-bottom: 1rem" required>-->

<!--      <h6 for="power">Category</h6>-->
<!--      <nb-select id="power" fullWidth style="margin-bottom: 1rem; margin-right: 1rem;"-->
<!--                 [(ngModel)]="product.categoryId" required>-->
<!--        <nb-option-group *ngFor="let cate of masterCategory" title="{{cate.name}}">-->
<!--          <nb-option *ngFor="let subcate of filtCategory(cate.id)" [value]="subcate.id">-->
<!--            {{subcate.name}}-->
<!--          </nb-option>-->
<!--        </nb-option-group>-->
<!--      </nb-select>-->

<!--      <h6 for="description">Description</h6>-->
<!--      <textarea type="text" nbInput fullWidth class="form-control" id="description" style="height: 150px"-->
<!--                [(ngModel)]="product.description" name="description"></textarea>-->

<!--    </nb-card-body>-->
<!--    <nb-card-footer>-->
<!--      <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel</button>-->
<!--      <button (click)="saveProduct();ref.close()" nbButton status="success">Save</button>-->
<!--    </nb-card-footer>-->
<!--  </nb-card>-->
<!--</ng-template>-->

<ng-template #editDialog let-data let-ref="dialogRef">
  <nb-card size="giant" style="width: 500px">
    <nb-card-header>New Product</nb-card-header>
    <nb-card-body>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <form name="form" (ngSubmit)="f.form.valid && (onSubmit() && ref.close())" #f="ngForm"
                    novalidate>
                <div class="form-group">
                  <label for="firstName">Name</label>
                  <input type="text" id="firstName" class="form-control" name="firstName"
                         [(ngModel)]="product.name"
                         #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                         required/>
                  <div *ngIf="f.submitted && firstName.invalid" class="text-danger">
                    <div *ngIf="firstName.errors.required">Name of Product is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="phoneNumber">Price</label>
                  <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                         [(ngModel)]="product.price" #phoneNumber="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" required pattern="[0-9]+"/>
                  <div *ngIf="f.submitted && phoneNumber.invalid" class="text-danger">
                    <div *ngIf="phoneNumber.errors.required">Price of Product is Required</div>
                    <div *ngIf="phoneNumber.errors.pattern">Price of Product must be a Valid</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="category">Category</label>
                  <nb-select required name="category" id="category" fullWidth
                             style="margin-bottom: 1rem; margin-right: 1rem;"
                             #category="ngModel" [(ngModel)]="product.categoryId"
                             [ngClass]="{ 'is-invalid': f.submitted && category.invalid }">
                    <nb-option-group *ngFor="let cate of masterCategory" title="{{cate.name}}">
                      <nb-option *ngFor="let subcate of filtCategory(cate.id)" [value]="subcate.id">
                        {{subcate.name}}
                      </nb-option>
                    </nb-option-group>
                  </nb-select>
                  <div *ngIf="f.submitted && category.invalid" class="text-danger">
                    <div *ngIf="category.errors.required">Category of Product is Required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea type="text" class="form-control" id="description" name="description"
                            [(ngModel)]="product.description" #description="ngModel" style="height: 150px"
                            [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required></textarea>
                  <div *ngIf="f.submitted && (description.invalid)" class="text-danger">
                    <div *ngIf="description.errors.required">Description of Product is Required</div>
                  </div>
                </div>
                <div class="form-group">
                  <pre class="text-danger">{{  errors | json }}</pre>
                  <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel</button>
                  <button nbButton type="submit" status="success">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- Delete Dialog -->
<ng-template #deleteDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Delete product</nb-card-header>
    <nb-card-body>
      <h5>Do you want to delete "{{product.name}}"?</h5>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel</button>
      <button (click)="deleteProduct();ref.close()" nbButton>Delete</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<nb-actions size="small">
  <nb-action icon="image-outline" (click)="openImg(imageDialog)"></nb-action>
  <nb-action icon="edit-2-outline" *ngIf="(accessChecker.isGranted('edit','Product') | async)"
             (click)="open(editDialog)"></nb-action>
  <nb-action icon="trash-2-outline" *ngIf="(accessChecker.isGranted('edit','Product') | async)"
             (click)="open(deleteDialog)"></nb-action>
</nb-actions>
