<nb-card>
  <nb-card-header>
    <h2>Product
      <button nbButton (click)="open(addNewDialog)" *nbIsGranted="['create', 'Product']">
        <nb-icon icon="plus-outline" status="danger" style="color: white"></nb-icon>
        Add new
      </button>
    </h2>
  </nb-card-header>
  <ng-template #addNewDialog let-data let-ref="dialogRef">
    <nb-card size="giant" style="width: 500px">
      <nb-card-header>New Product</nb-card-header>
      <nb-card-body>
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                      novalidate>
                  <div class="form-group">
                    <label for="firstName">Name</label>
                    <input type="text" id="firstName" class="form-control" name="firstName"
                           [(ngModel)]="newProduct.name"
                           #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                           required/>
                    <div *ngIf="f.submitted && firstName.invalid" class="text-danger">
                      <div *ngIf="firstName.errors.required">Name of Product is required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="phoneNumber">Price</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                           [(ngModel)]="newProduct.price" #phoneNumber="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" required pattern="[0-9]+"/>
                    <div *ngIf="f.submitted && phoneNumber.invalid" class="text-danger">
                      <div *ngIf="phoneNumber.errors.required">Price of Product is Required</div>
                      <div *ngIf="phoneNumber.errors.pattern">Price of Product must be a Valid</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="category">Category</label>
                    <nb-select required name="category" id="category" fullWidth
                               style="margin-bottom: 1rem; margin-right: 1rem;"
                               #category="ngModel" [(ngModel)]="newProduct.categoryId"
                               [ngClass]="{ 'is-invalid': f.submitted && category.invalid }">
                      <nb-option-group *ngFor="let cate of masterCategories" title="{{cate.name}}">
                        <nb-option *ngFor="let subcate of filtCategory(cate.id)" [value]="subcate.id">
                          {{subcate.name}}
                        </nb-option>
                      </nb-option-group>
                    </nb-select>
                    <div *ngIf="f.submitted && category.invalid" class="text-danger">
                      <div *ngIf="category.errors.required">Category of Product is Required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" id="description" name="description"
                              [(ngModel)]="newProduct.description" #description="ngModel" style="height: 150px"
                              [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required></textarea>
                    <div *ngIf="f.submitted && (description.invalid)" class="text-danger">
                      <div *ngIf="description.errors.required">Description of Product is Required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <pre class="text-danger">{{  errors | json }}</pre>
                    <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel</button>
                    <button nbButton type="submit" status="success">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <!-- Add new template -->
  <!--        <ng-template #addNewDialog let-data let-ref="dialogRef">-->
  <!--          <nb-card [size]="'large'" style="width: 500px">-->
  <!--            <nb-card-header>New product</nb-card-header>-->
  <!--            <nb-card-body>-->
  <!--              <h6 for="name">Name</h6>-->
  <!--              <input type="text" nbInput fullWidth class="form-control" id="name" name="name"-->
  <!--                     [(ngModel)]="newProduct.name" style="margin-bottom: 1rem" required>-->

  <!--              <h6 for="price">Price</h6>-->
  <!--              <input type="number" nbInput fullWidth class="form-control" id="price" [(ngModel)]="newProduct.price"-->
  <!--                     name="price" style="margin-bottom: 1rem" required>-->

  <!--              <h6 for="power">Category</h6>-->
  <!--              <nb-select id="power" fullWidth style="margin-bottom: 1rem; margin-right: 1rem;"-->
  <!--                         [(ngModel)]="newProduct.categoryId" required>-->
  <!--                <nb-option-group *ngFor="let cate of masterCategories" title="{{cate.name}}">-->
  <!--                  <nb-option *ngFor="let subcate of filtCategory(cate.id)" [value]="subcate.id">-->
  <!--                    {{subcate.name}}-->
  <!--                  </nb-option>-->
  <!--                </nb-option-group>-->
  <!--              </nb-select>-->

  <!--              <h6 for="description">Description</h6>-->
  <!--              <textarea type="text" nbInput fullWidth class="form-control" id="description" style="height: 150px"-->
  <!--                        [(ngModel)]="newProduct.description" name="description"></textarea>-->

  <!--            </nb-card-body>-->
  <!--            <nb-card-footer>-->
  <!--              <button (click)="ref.close()" nbButton status="danger" style="margin-right: 1rem;">Cancel</button>-->
  <!--              <button (click)="createProduct();ref.close()" nbButton type="submit" status="success">Save</button>-->
  <!--            </nb-card-footer>-->
  <!--          </nb-card>-->
  <!--        </ng-template>-->

  <nb-card-body>
    <ng2-smart-table [settings]="tableSettings" [source]="source">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
