<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Vofr-<span>Admin</span></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="large">
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               [name]="user?.firstName"
               [picture]="user?.image">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
