<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Vofr-<span>Admin</span></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="medium">
    <nb-action (click)="openNoti($event);" icon="bell-outline" [badgeText]="unseenNoti" badgePosition="top"
      badgeStatus="danger" [nbPopover]="template" *ngIf="(accessChecker.isGranted('view','Notification') | async)">
    </nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu" [name]="user?.firstName" [picture]="user?.image">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>

<!-- Notification popup -->
<ng-template #template let-data>
  <nb-card class="notification-popup" [size]="'medium'" accent="info">
    <nb-card-header>New Orders</nb-card-header>
    <nb-list>

      <nb-list-item *ngFor="let noti of orders" [ngStyle]="{'background-color': noti.seen ? '#ffffff' : '#edf2fa'}">
        <!--        <a [routerLink]="['/pages/cashier', noti?.order?.order_id]" style="text-decoration: none; color: inherit;">-->
        <div (click)="navigateToCashier(noti?.order?.order_id)">
          <b>{{noti?.order?.full_name}}</b> has created an order <b
            [ngStyle]="{'color': noti?.order?.method === 1 ? '#DD2C00' : '#0091EA'}">{{noti?.order?.method === 1 ? 'Pay at cashier' : 'Pay by Paypal'}}</b>
          <div>
            <nb-icon icon="clock-outline"></nb-icon>
            {{noti?.order?.order_date | timeAgo}}
          </div>
        </div>
        <!--        </a>-->
      </nb-list-item>
    </nb-list>
    <nb-card-footer><a class="see-all" href="#">See all</a></nb-card-footer>
  </nb-card>
</ng-template>